/*CSS specifique aux produits*/

.wrapper_product{
	border-radius:3%;
	overflow: hidden; 
	border: 2px solid rgba(0,0,0,0.05);
	position: relative;
}

.wrapper_item_product_user {
	padding-left: 0; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item_product_user{
	display: flex;
	margin: 2rem 0;
	color: #292b2c;
	transition: all .8s ease;
}

.item_product_user:hover{
	transform:translateY(-5px);*/
	text-decoration: none;
	color: inherit;
}

.item_product_user .product_content{
	padding: 1rem;
}

.item_product_user h3{
	margin: 1rem auto;
	text-align: center;
	font-weight: 700;
	font-size: 1rem;
}

.item_product_user .categories{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}



.item_product_user .categories span{
	background: #292b2c;
    color: white;
    padding: 4px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 61px;
    text-align: center;
    margin: 0 4px;
    letter-spacing: 0.1rem;
}


.price {
	position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
}

/*_________________FILTER____________________*/

#query_product
{
	display: flex;
    align-items: flex-end;

}
#query_form form,
#search_form form{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

#query_form .form-group,
#search_form .form-group{
	display: flex;
	flex-direction: column;
}

#query_form .form-group label,
#query_form .form-group input,
#query_form .form-group select,
#search_form .form-group label,
#search_form .form-group input,
#search_form .form-group select{
	flex: 1;
	max-width: 89%;
	text-align: center;
}
#query_form .form-group label
{
	color: #676464;
    letter-spacing: 0.05rem;
}


/*°_________ SINGLE*/

#single_product{
	margin-top:39px; 
}

#single_product h2
{
	margin-top: 23px;

}
#single_product #price
{
	margin-top: 23px;
	font-weight: bold;
}

#back{
	margin-top: 23px;
    color: black;
    font-weight: bold;
}